## -- Base Tools
pip
setuptools

## -- Torch
torch
torchvision

## -- TensorFlow
#tensorflow-metal
#tensorflow-macos
#tensorflow_datasets

## -- CoreML
coremltools

## -- OpenVINO
#openvino-dev
#openvino2tensorflow

## -- ONNX packages
onnx
onnx_tf
onnxruntime
onnx-simplifier
tf2onnx

## -- Darknet
darknet

## -- Nettron
netron

## -- Download
youtube-dl
pafy

## -- YOLO
#yolov4
#yolov5
yolov7

